body {
  height: 100%;
  width: 100%;
}

.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
  padding: 6%;
  height: 100%;
  width: 100%;
}

.admin-container {
  position: absolute;
  top: 20%;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: -1;
  padding: 6%;
  height: 80%;
  width: 100%;
}

.flex-container {
  display: flex;
}

.flex-item {
  margin: auto;
}

.flex-item-80 {
  width: 80%;
}

.flex-item-20 {
  width: 20%;
}

.flex-item-50 {
  width: 50%;
}

.cardtainer {
  margin-bottom: 30px;
  padding: 20px;
}

.about-info {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 0 20px 0;
  padding: 10px;
  padding-right: 30px;
}

.text-show {
  width: 40%;
  float: left;
  height: 80ex;
  overflow: auto;
}

.file-card {
  padding: 10px;
  margin: 10px;
}

.collapse-box {
  padding: 10px;
  height: 100%;
}

a.lightlink {
  color: #fff;
  text-decoration: underline;
}

.admin-form {
  height: 100%;
}

.admin-text {
  margin: 10px;
  height: 60%;
  width: 80%;
}

.admin-header {
  width: 100%;
  height: 10%;
  padding: 10px;
}

.admin-title {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 40px;
  width: 80%;
  float: left;
}

.home-badge {
  float: right;
  padding: 10px;
  font-size: 20px;
}

.error-badge {
  padding: 10px;
  font-size: 20px;
}
