<!DOCTYPE html>
<html>
  <head>
    <title>admin</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />
  </head>
  <body>
    <div class=admin-header>
      <div class=admin-title>The Cool Admin Zone!</div>
      <div class="badge badge-primary home-badge">
        <a class=lightlink href='/'>Home</a>
      </div>
    </div>
    <div class="flex-container admin-container">
      <div class=flex-item-50>
        <h3>Stop Words</h3>
        <form method=post enctype=multipart/form-data class=admin-form>
          <textarea name=stopwords class=admin-text>{{ stop_words }}</textarea>
          <input type=submit value=Update />
          {% if updated_stop_words %}
          <div class="alert alert-success">Updated stop words</div>
          {% endif %}
        </form>
      </div>

      <div class=flex-item-50>
        <h3>Suffixes</h3>
        <form method=post enctype=multipart/form-data class=admin-form>
          <textarea name=suffixes class=admin-text>{{ suffixes }}</textarea>
          <input type=submit value=Update />
          {% if suffix_error %}
          <div class="alert alert-danger"><strong>Error:</strong> {{ suffix_error }}</div>
          {% endif %}
          {% if updated_suffixes %}
          <div class="alert alert-success">Updated suffixes</div>
          {% endif %}
        </form>
      </div>
    </div>
  </body>
</html>
