<!DOCTYPE html>
<html>
  <head>
    <title>Upload</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" />


  </head>
  <body>
    <div class=content style="background-image:url('{{ url_for('static', filename='assets/bg.jpg') }}');">
      <div class="card cardtainer">
        <h1 class=title>Upload new file</h1>
        {% if error %}
        <div class="alert alert-danger"><strong>Error:</strong> {{ error }}</div>
        {% endif %}

        <div>
          <form method=post enctype=multipart/form-data>
            <div class="form-group flex-container">
              <div class="flex-item flex-item-80">
                <input type=file name=file><br/>
                <div style=margin-left:30px;margin-top:15px;>
                  <input class=form-check-input type=checkbox id=use_stop_words name=stop_words />
                  <label class=form-check-label for=use_stop_words>Ignore stop words</label>
                </div>
                <div style=margin-left:30px;margin-top:5px;>
                  <input class=form-check-input type=checkbox id=suffixes_check name=stem_suffixes />
                  <label class=form-check-label for=suffixes_check>Collapse suffixes</label>
                </div>

              </div>

              <div class="form-check flex-item flex-item-20">
                <div>

                <input type=submit value=Upload class="btn btn-primary" style=float:right;/>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      {% if files %}
      <div class="card cardtainer">
        <h1 class=title>Previous Files</h1>
        {% for file in files %}
        <div class="card file-card">
          <button class="btn btn-primary" type="button"
                                          data-toggle="collapse"
                                          data-target="#collapse{{ file['key'] }}">
            {{ file['filename'] }}
            - {{ file['created_at'] }}

            {% if file['ignore_stop_words'] %}
              - not counting stop words
            {% else %}
              - including stop words
            {% endif %}

            {% if file['stem_suffixes'] %}
              - collapsed suffixes
            {% else %}
              - disregarding suffixes
            {% endif %}
          </button>

          <div class="collapse collapse-box" id="collapse{{ file['key'] }}">
            <div class=text-show >
              {{ file['text'] }}
            </div>
            <div style="width: 30%; float: right;">
              {% if file['frequencies'] %}
              <table>
                <thead><tr><th>Word</th><th>Frequency</th></tr></thead>
                <tbody>
                  {% for word, freq in file['frequencies'] %}
                  <tr>
                    <td>{{ word }}</td>
                    <td>{{ freq }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <script type="text/javascript">
        $('.collapse').first().addClass("show");
      </script>
      {% endif %}

    </div>

    <div style=height:100%;>
      <div class="badge badge-info about-info">
        Built by Devin McGinty for Farmers Fridge - Technical Interview 2020/07/21 |
        <a href="https://gitlab.com/devinmcginty/farmers-fridge-interview" class="lightlink">source</a>
        | <a href="./admin" class="lightlink">admin</a>
      </div>
    </div>
  </body>
</html>

